---
layout: default
---
<!--
    Temporary
-->
<script>

function closeModal(title) {
    var modal = document.getElementById(title);
    modal.className = "Modal is-hidden is-visuallyHidden";
    document.getElementById("main").classList.remove("is-blurred");
    document.getElementById("header").classList.remove("is-blurred");
}

function openModal(title) {
    var modal = document.getElementById(title);
    var container = document.getElementById("main");
    modal.className = "Modal is-visuallyHidden";
    setTimeout(function() {
        document.getElementById("main").classList.add("is-blurred");
        document.getElementById("header").classList.add("is-blurred");
        modal.className = "Modal";
    }, 50);
}

window.onclick = function(event) {
    console.log(event.target.className);
    console.log(event.target.classList);
    if (event.target.className == "Modal") {
        event.target.className = "Modal is-hidden is-visuallyHidden";
        document.getElementById("main").classList.remove("is-blurred");
        document.getElementById("header").classList.remove("is-blurred");
    }
}

var coll = document.getElementByClassName("collapsible");
var i;

for(i=0; i< coll.lenght; i++){
    coll[i].addEventListener("click", function(){
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if(content.style.display == "block"){
            content.style.display = "none";
        }
        else { 
            content.style.display = "block"; 
        }
    });
}

</script>

{% for post in site.posts limit:3 %}
<div class='Modal is-hidden is-visuallyHidden' id='{{ post.title }}'>
    <div class='Modal-content'>
        <span id="closeModal" class="Close" onclick="closeModal('{{ post.title }}')">&times;</span>
        {{ post }}
    </div>
</div>
{% endfor %}

<body>
        <div class="loader">
            <img src="/images/loading.gif" alt="Loading...">
        </div>
        
        <div id="main">      
  
            <!-- Toggle -->
            <script>
                function toggleHeader() {
                    document.getElementById("header").classList.toggle('hidden');
                    document.getElementById("wrapper").classList.toggle('expand');
                    document.getElementById("toggle-btn").classList.toggle('shift');
                }
            </script>
    
            <!-- About -->
                <section id="About">
                    <div class="container noborder">
                        <header class="major">
                            <h2>Levity</h2>
                            <p>More than code</a>.</p>
                        </header>
                        <p>We are dedicated to empowering companies like you to be equipped with leading technologies. From upgrading existing projects
                            to disrupting a market with a new idea, Levity is ready for any task. Creating brilliant and cunning user experiences capable of overcoming
                            operational obstacles through digital innovations.
                        </p>
                    </div>
                </section>

            <!-- Solutions -->
                <section id="Solutions" data-aos="fade-up">
                    <div class="container">
                        <h3>Solutions</h3>
                        <p>When it comes down to it, Levity solves our clients' most challenging problems. With a team of broad talent, we bring digital innovation with us wherever we go.</p>
                        <ul class="feature-icons">
                            <li class="icon solid fa-code">Development</li>
                            <li class="icon solid fa-mobile">Mobile Apps</li>
                            <li class="icon solid fa-link">Blockchain</li>
                            <li class="icon solid fa-vr-cardboard">VR/AR</li>
                            <li class="icon solid fa-pencil-ruler">Design</li>
                            <li class="icon solid fa-puzzle-piece">Strategy</li>
                        </ul>
                    </div>
                </section>

            <!-- Featured Article --!>
                <section id="Featured" data-aos="fade-up">
                    <div class="container">
                        <h3>Featured Article </h3>
                        <div class="features">
                            {% for post in site.posts %}
                                {% if post.featured == "True" %}
                                    <article data-aos="fade-left">
                                        <div class="btn_container">
                                            <a href="#{{ post.title }}" onclick="openModal('{{ post.title }}')">
                                                <div class="card">
                                                    <img class="image" style="padding: 20px 20px 20px 20px; margin-bottom: 0px;" src="{{base.url}}/images/posts/{{post.img}}" alt=""/>
                                                    <div class="inner">
                                                        <h4 style="padding-top:36px">{{ post.title }}</h4>
                                                        <p style='margin-bottom: 0px;'>{{ post.excerpt }}</p>
                                                        <br/>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </article>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>

            <!-- News -->    
                <section id="News" data-aos="fade-up">
                    <div class="container">
                        <h3>News</h3>
                        <p>Our success and culture is all you will need to be on board with our amazing team.</p>
                        <div class="features">
                            {% for post in site.posts limit:3 %}
                                <article data-aos="fade-left">
                                <div class="btn_container">
                                    <a href="#{{ post.title }}" onclick="openModal('{{ post.title }}')">
                                        <div class="card">
                                            <img class="image" style="padding: 20px 20px 20px 20px; margin-bottom: 0px;" src="{{base.url}}/images/posts/{{post.img}}" alt=""/>
                                            <div class="inner">
                                                <h4 style="padding-top:36px">{{ post.title }}</h4>
                                                <p style='margin-bottom: 0px;'>{{ post.excerpt }}</p>
                                                <br/>
                                            </div>
                                        </div>
                                    </a>
                                    </div>
                                </article>
                            {% endfor %}
                            <!-- <a href="/allPosts.html">All Posts</a> -->
                        </div>
                    </div>
                </section>

            <!-- Team -->
            <section id="Team" data-aos="fade-up">
                <div class = "container">
                    <div class="our-team">
                        <div class="inner-team">
                            <h3>Our Team</h3>
                            <div class="team-border"></div>
                            <div class="team-row">
                                <div class="team-col">
                                    <div class="team-member">
                                        <img src="images/team/Bazyl.JPG" alt="p1">
                                        <div class="team-member-name"><b>Bazyl Horsey</b></div>
                                        <p>CEO</p>
                                    </div>
                                </div>
                                <div class="team-col">
                                    <div class="team-member">
                                        <img src="images/team/Michael.JPG" alt="p2">
                                        <div class="team-member-name"><b>Michael Martin</b></div>
                                        <p>CTO</p>
                                    </div>
                                </div>
                                <div class="team-col">
                                    <div class="team-member">
                                        <img src="images/team/Cole.JPG" alt="p3">
                                        <div class="team-member-name"><b>Cole Goslar</b></div>
                                        <p>CMO</p>
                                    </div>
                                </div>
                                <div class="team-col">
                                    <div class="team-member">
                                        <img src="images/team/Alyssa.JPG" alt="p4">
                                        <div class="team-member-name""><b>Alyssa Ertz</b></div>
                                        <p>Graphic Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>    

            <!-- Clients -->
                <section id="Clients" data-aos="fade-up">
                    <div class="container">
                        <h3>Our Clients</h3>
                        <div class="box alt">
                            <div class="row gtr-50 gtr-uniform">
                                <div class="col-4"><span class="image fit"><img src="images/ranch_baby.jpg" alt="" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="images/match_learn_launch.jpg" alt="" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="images/bvu.png" alt="" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="images/midwest_management.jpg" alt="" /></span></div>
                            </div>
                        </div>
                    </div>
                </section>
            <!-- Contact -->
                <section id="Contact" data-aos="fade-up">
                    <div class="container">
                        <h3>Contact Us</h3>
                        <form method="post" action="https://formspree.io/myynjale">
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
                                <div class="col-6 col-12-xsmall"><input type="text" name="number" id="name" placeholder="Number" /></div>
                                <div class="col-12"><input type="email" name="email" id="subject" placeholder="Email" /></div>
                                <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
                                <div class="g-recaptcha" data-sitekey="6Lfm-KMZAAAAAP2AURFpp1Xsyp-YNiS-UVUXR-d_"></div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" class="primary" value="Send Message" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                <script>
                  AOS.init({
                    delay: 150,
                    duration: 500,
                  });
                </script>
            </body>

